html,body{
	font-family:$font-base;
}
.sh-keyboard{
  border:3px solid #359;
  position:fixed;
  bottom:0px;
  width:100%;
  left:0px;
  background:#359;

  @media(min-width:$screen-sm-min){
  	position:relative;
  	bottom:auto;
  	width:auto;
  	left:auto;
  }

  .sh-alt{
  	display:none;
  }

  &.capslock{
  	.sh-key.sh-char-key{
  		text-transform:uppercase; 
  	}

  	.sh-key.capslock-key{
  		background:#58A;
  	}
  }

  &.alt{
  	.sh-key{
  		.sh-base{
  			display:none;
  		}
  		.sh-alt{
  			display:inline;
  		}

  		&.shift-key{
  			background:#58A;
  		}
  	}
  }
}




.sh-keyboard-input{
	padding:3px 2px;
}

.sh-key-line{
  margin:0px -2px;
}

.sh-keyboard-input .sh-keyboard-textarea{
  resize:none;
  width:100%;
  min-height:100px;
  outline:none;
  box-sizing:border-box;
  background:rgba(#FFF,0.9);
  border:none;
  font-size:12px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sh-keys-row{
	margin:0px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;

	&:before{
		content:' ';
		display:table; 
		box-sizing:border-box;
	}

	&:after{
		clear:both;
		display: table;
		content: " ";
		box-sizing:border-box;
	}

}

.sh-key{
	float:left;
	box-sizing:border-box;
	padding:5px 2px;
	border:1px solid #359;
	font-size:10px;
	text-align:center;
	cursor:pointer;
	background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 50%, rgba(113,206,239,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(33,180,226,1)), color-stop(100%, rgba(113,206,239,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 50%, rgba(113,206,239,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 50%, rgba(113,206,239,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 50%, rgba(113,206,239,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 50%, rgba(113,206,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#71ceef', GradientType=0 );
	overflow:hidden;
	height:24px;
	border-radius:5px;
	color:white;
	@media(min-width:$screen-sm-min){
		padding:15px 2px;
		height:44px;
		border:2px solid #359;
	}

	&.capslock-key,&.backspace-key{
		.sh-base{
			display:none;
		}
		.sh-alt{
			display:inline; 
		}

		@media(min-width:$screen-sm-min){
			.sh-base{
				display:inline;
			}
			.sh-alt{
				display:none; 
			}
		}
	}
}

.sh-key:active{
	background:#58A;
}

